/******************************
** Name: casca-layout.css
** Autor: acorrea, cqsilva
** Date Created: 04/09/2014
*******************************/
@CHARSET "UTF-8";

/*borda padrão dos buttons LARANJA ***************************************************/


/* MENU */
.casca-menu {
	background-color: #FF7F00; 	
}

.casca-menu-topbar {
	background-color: rgba(0,0,0, 0.1);
}

.casca-menu-text {
   	color: white;
}

.casca-menu-separator {
    border-left: 2px dotted rgba(0, 0, 0, 0.1);
}
    

/*Menu Principal */
.casca-menu-component {
	background-image:url('../resources/img/components/back-menu.png');
	background-color: white;
	background-repeat: no-repeat; 
}


/*Menus Filhos*/
.casca-menu-component ul {
    background-color: rgba(255, 127, 0, 0.95);
    background-image: url("../resources/img/components/back-menu-laranja.png") !important;
    background-position: left top !important;
    background-repeat: no-repeat !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important;
}

/* Barra de Seleção do Menu*/
.amazonmenu ul li a:hover, .amazonmenu ul li.hassub.selected > a {
    background: rgba(0, 0, 0, 0.15) !important;
    color: black;
}


.pol-menu-panel {
	background-image:url('../resources/img/components/back-menu.png');
	background-color: white;
	background-repeat: no-repeat; 
}



/*Texto Menus Filhos*/

.casca-menu-itens  {
    color: black;
}

.casca-menu-itens-off  {
    color: gray !important;
    font-style: italic;
}

.casca-pesquisa-input > input.ui-autocomplete-input {    
    box-shadow: 0 2px 2px #296f00 inset;
    padding: 3px 6px 0px 6px !important;
    border:none!important;
}    

.casca-pesquisa-input > input.ui-autocomplete-input:focus {
	color:#353535;
}	



/* CONTEÚDO */
.casca-frame {
	background: white;
}	


/* ABAS */
/* RODAPÉ */
.casca-rodape {
	color:white;
	background:#E57200!important;
}


/********************/

/*TRECHO C/ AS CORES EDITAVEIS DESSE TEMPLATE "LARANJA"*/

/*BUTTONS, CABECALHO E OPCOES DA TABLE, PAGINADOR - LARANJA  aghu-primefaces*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white;
}

/*TRECHO C/ AS CORES EDITAVEIS DESSE TEMPLATE "LARANJA" - FIM*/
