/******************************
** Name: aghu-primefaces.css
** Autor: acorrea, cqsilva
** Date Created: 02/09/2014
*******************************/
@CHARSET "UTF-8";


/*FIELDSET*/
.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
	margin: 2px 10px!important;
	padding: 0.2em 1em !important;
}

/*LABEL DO FIELDSET*/
legend > .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    border-radius: 0;
    padding: 0.2em 1em !important;
    background:-moz-linear-gradient(center top , rgba(223, 217, 195, 1), rgba(160, 160, 160, 0)) repeat scroll 0 0 #fff !important;
    border:0px !important;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.7);
    color:black;
    margin: 0 0 0px 0px !important;     
    /*os tamanhos de fonte dessa classe estao em "aghu-default.css"*/
}

/*ENQUADRAMENTO DO FORM DAS TABELAS DE RESULTADO*/
.ui-datatable-resizable table {
    table-layout: inherit!important;
}



/* FONTE PADRÃO DOS FIELDS E INPUTS*/
.ui-widget {
    font-family: arial, sans-serif!important;
    /*os tamanhos de fonte dessa classe estao em "aghu-default.css"*/
}


/*Altura global dos inputs*/
.ui-inputfield {
	min-height:18px;
	padding: 2px 6px !important;
	border:1px solid #efefef;
	font-family:inherit!important;		
}

.ui-widget-overlay {
 	opacity:0.4;
}
 
/*SUGGESTIONBOX (a composição da suggestion ficou divida, as classes criadas do AGHU estão no arquivo aghu-componentes.css)********************/
/*Substituição de icone do botão dropdown dentro do componente autocomplete*/
.ui-autocomplete-dropdown>span.ui-icon-triangle-1-s {
	background-position: -160px -112px !important;
}
.ui-autocomplete-panel {
	max-height:282px;
}
.ui-autocomplete>input.ui-state-disabled {
	opacity: inherit;
}

.ui-autocomplete-dropdown {
	width: 1.6em;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {    
    padding: 2px 6px !important;      
}
.ui-inputfield:hover{
	box-shadow: 0 2px 2px #8f8f8f inset;	
}

/*posicao do button de busca*/
.ui-autocomplete>.ui-button {   
    margin:0!important;    
}

/*Reposicionamento dos botões dentro do componente autocomplete*/
.ui-autocomplete>button.ui-corner-left {
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.ui-autocomplete>button.ui-corner-right {
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
	margin: 0 -1px 0 0;
}

.ui-autocomplete>.ui-widget {	
	margin: 0;
	/*os tamanhos de fonte dessa classe estao em "aghu-default.css"*/
}

/* reposicionamento do input dropdown */
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {	
	float: left !important;
}


.ui-widget-content {
	margin: 2px 0 0 0;
}


fieldset.ui-widget-content {
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}	


/* SuggestionBox: reposicionamento do botao de icone dropdown*/
.ui-autocomplete .ui-autocomplete-dropdown {
    float: left ;
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.ui-autocomplete .ui-autocomplete-dropdown:hover {
	box-shadow: 0 0px 5px #85B2CB!important;
	border: 1px solid #A8C8DB !important;
}

/* tabela do suggestion */
/*borda*/
.ui-autocomplete-panel .ui-autocomplete-table th, .ui-autocomplete-panel .ui-autocomplete-table td {
    border-color: #DCDACE!important;   
}
/*sombra do texto*/
.ui-autocomplete-items >.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {   
    text-shadow: none!important;
}

.ui-autocomplete-table td {
    color:#000;
}

/*SUGGESTION BOX TEXTO DAS LINHAS (AGORA S BOLD)*/
.ui-autocomplete-table td:hover {
    color:#000;      
    cursor:pointer;
}



/*SUGGESTIONBOX - FIM ************/



/*Customização do componente p:growl****************************************************************************************/
.ui-growl {
	width: 720px !important;
}

.ui-growl-item-container {
    padding: 0;
    background: -webkit-linear-gradient(top , rgba(100, 100, 100, 1), rgba(100, 100, 100, 0.7)) repeat scroll 0 0 #fff !important;
    background: -moz-linear-gradient(top , rgba(100, 100, 100, 1), rgba(100, 100, 100, 0.7)) repeat scroll 0 0 #fff !important;     				
    border: 1px solid #777!important;    
    border-radius:0!important;
}

.ui-growl-item {
	display: block;
	height: auto;
	padding: 0 !important;
}

.ui-growl > div.ui-shadow {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.40);
}
.ui-growl-image {    
    height: 32px!important;   
    width: 32px!important;
}
.ui-growl-message {
	float: left !important;
	margin: 1px 0 0 10px;
	padding: 0 5px 0!important;
	width: 620px !important;
}

/*texto principal do miolo do growl*/
.ui-growl-title {
	display: block;
	font-weight: normal!important;
	padding: 0 0 2px!important;
	line-height: 1.1em;
	color:#fff;
	/*os tamanhos de fonte dessa classe estao em "aghu-default.css"*/
}

.ui-growl-icon-close {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 5px;
}

.ui-growl-item>div.ui-icon {
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
	border-radius: 0px !important;
}
/*MARGEM DE DISTANCIA GROWL-SOBRE-GROWL */
.ui-growl-item-container {
    margin: 0 0 7px!important;
}



/*BOTAO FECHAR DO GROWL */
.ui-icon {
    background-repeat: no-repeat;
    /*display: block !important;*/
    overflow: hidden;
    text-indent: -99999px;
}

.ui-icon-closethick { 
	background-position: -96px -128px;
}


/*ICONE DE ERRO DO GROWL */
.ui-growl-item > .ui-growl-image-error {
    background-position: 0 -396px!important;
}

/*******************************************/

.ui-column-dnd-bottom {
	display: none;
}


/*curvas dos botões */
.ui-corner-all {
	border-radius: 5px;
}

.ui-corner-left {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.ui-corner-right {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}


/*Input com borda diferente ***************************************************/

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {    
    border: 1px solid #efefef !important;    
}


/*Corrige bug colunas vazias do primefaces */
.ui-dashboard-column {
    min-width: 115px;
}


/*BUTTON ***************************************************/

/*borda padrão dos buttons ***************************************************/
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 1px solid #3D790F;
}


.ui-button {        
    margin:0 5px;
    /*os tamanhos de fonte dessa classe estao em "aghu-default.css"*/
}

.ui-button > span.ui-icon {
	border-radius: 0px !important;
	margin-right:5px;
}
.ui-button .ui-button-text {    
    margin: 0 0 0 3px;
    line-height: 1.2!important;
}


/*error no input*/
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {     
    box-shadow: 0 0px 5px #ff0000, 0 2px 2px #8f8f8f inset !important;
}

/*MARCACAO DE BUTTONS ATIVOS PELO TAB (FOCUS)*/
.button-acao:focus  {
    border: 1px solid #000!important;   
}



/* inputTextData */
.ui-datepicker {
  width: 212px !important;
}


/*ServerDataTable */
.ui-paginator-current {
	float:right;
}

.ui-datatable-empty-message {
    text-align: center;
}

/* Sobreescrever onmouseover tabelas com linhas coloridas */
.ui-datatable-data .ui-widget-content tr:hover > td {
   background: none repeat scroll 0 0 #6cb229 !important;
}

/* HOVER DOS BOTÕES PADRÃO *******************************************************************************************/
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background:#6CB229!important;	
}
/* HOVER DOS BOTÕES PADRÃO - FIM **************************************************************************************/

/* ALINHAMENTO DE COLUNAS DO MENU **************************************************************************************/
.ui-menu .ui-menuitem {   
    width: 95%!important;/*100%*/
}

.ui-menu .ui-menuitem-link {
    border-radius:0; /*none*/
    border:none!important;   
    padding: 0.3em 1em!important; /*0.3em*/
    width: 93%!important;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    border: none!important;
    padding: 0.7em 0 0.1em !important
}


/* CHECKBOX  */
.ui-chkbox .ui-chkbox-box {
	background: rgba(255, 255, 255, 1);
	border: 1px solid #efefef !important;
	box-shadow:0 2px 2px #8f8f8f inset;
	color:#433f38;
}
/* CHECKBOX C FOCUS */
.ui-chkbox > .ui-state-focus {    
    border: 1px solid #000 !important;
}

/* RADIOBUTTON  */
.ui-radiobutton .ui-radiobutton-box {
    background: none repeat scroll 0 0 #efefef!important;    
}



/*PAGINADOR COR DO SELECT*/
.ui-paginator-rpp-options:focus {
    background-color: #459e00!important;
    border: 1px solid #327e04!important; 
    padding:0;
}

.ui-paginator-rpp-option option:hover { 
    background-color: red!important; 
}



/*REMOçÃO DE OPACIDADE NATIVA DO PRIME PARA OS INPUTS*/
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {    
    opacity: 1.0;
}

/*ABAS*/
.tabs-selected {
box-shadow: 1px 1px 5px #8e8e8e;
}

.tabs li a.tabs-inner {
    border-radius: 0!important;    
}

/*Select One Menu */
.ui-selectonemenu {   
    cursor: pointer!important;
    display: inline-block!important;
    position: relative!important;
    width: calc(100% - 14px)!important;
}
.ui-selectonemenu .ui-selectonemenu-trigger {   
    width: 8px!important;
}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {    
    margin-left: -4px;
}
.ui-selectonemenu label.ui-selectonemenu-label {
    background: none repeat scroll 0 0 transparent;
    border: none !important;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 30px 0 0!important;
}


/*GRID LINHA SELECIONADA DESTACADA*/
table > .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #FFC926 !important;
}

/*TABELA DAS ABAS*/
.ui-tabs {
    margin: 0 10px;
}


/*LINK VERDE DENTRO DESSA CLASSE*/
.ui-overlaypanel-content a {
    color: #459e00;
}
.ui-overlaypanel-content a:hover {
    text-decoration: underline;
}
/*LINK VERDE DENTRO DESSA CLASSE - FIM*/

/*ESTILO DO BOTÃO DO ACCORDION*/
.ui-accordion .ui-accordion-header {
    border-radius: 0;
}
/*ESTILO DO BOTÃO DO ACCORDION - FIM*/

/*TOOLTIP PRIMEIRO PLANO*/
.ui-tooltip{
	z-index:2000!important;
}

/*ABAS - CABEÇALHO DA GRID*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    background:-moz-linear-gradient(top , rgba(85, 166, 22, 1.0), rgba(108, 178, 41, 0)) rgba(54, 128, 0, 1.0)!important;
    padding: 0.2em 0.5em 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.ui-tabs-nav > li.ui-state-default {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) !important;
}
.ui-tabs-nav > li.ui-state-active {
    background: none repeat scroll 0 0 #fff !important;
}

/*MESSAGES */
.ui-messages-error-icon {
    background-position: 0 -448px;
}

/*MARGIN BOTTOM DO AUTOCOMPLETE*/
.ui-autocomplete {    
    margin-bottom: -5px;
}

/*padding(tamanho do botao) do button datepicker*/
.ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
    padding: 0.2em!important;
}

/*ESPA�OS INTERNOS DA C�LULA DA GRID*/
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 0 4px!important;
}

/*BORDA P/ DESTACAR LINHA SELECIONADA NA GRID*/
.ui-datatable tr.ui-state-highlight {
    border-top:2px solid #000;
    border-bottom:2px solid #000;
}

/*DISABLE EM DIV QUE CONTENHA INPUT*/
div.ui-state-disabled.ui-inputfield {
    background: #e5e5e5;
}

/*EFEITO DISABLE NO BOTAO SELECTMENU*/
div.ui-state-disabled > .ui-selectonemenu-trigger {
    opacity: 0.4;
}

/*MASCARA DO INPUT SELECT*/
.ui-selectonemenu {    
    display: inline-block !important;
    position: relative !important;
    width: calc(100% - 14px) !important;
}

/*BOTAO DO SELECTBOX*/
.ui-selectonemenu .ui-selectonemenu-trigger {
    border-bottom: 0 !important;   
    border-top: 0 !important;    
    padding: 0 5px!important;  
}


/*SELECTBOX*/
select.ui-inputfield{
	border:1px solid #ccc;
	height: 24px;
	min-width: 98px;
	padding: 0 30px 0 2px;
}

/*FOCUS DOS INPUTS*/
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus, select.ui-inputfield:focus {
    box-shadow: 0 0 5px #327e04, 0 2px 2px #8f8f8f inset;
}