/******************************
** Name: aghu-components.css
** Autor: acorrea, cqsilva
** Date Created: 15/07/2014
*******************************/
@CHARSET "UTF-8";


/*SUGGESTIONBOX (a composição da suggestion ficou divida, as classes nativas do primafaces estão no arquivo aghu-primefaces.css)******************/


/* padding especial da sugestionbox */
.spacer-suge {
	padding: 0 0.2em 0 0 !important;
}

.aghu-autocomplete-button-clear-left {
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;	
}
.aghu-autocomplete-button-clear-left:hover {		
	box-shadow: 0 0px 5px #85B2CB!important;
	border: 1px solid #A8C8DB !important;
}

.bt-close {
	margin: 0!important;
	height: 24px;
	width: 24px !important;	
}

/*estilo de button suggestion*/
button .bt-close {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0 0 green!important;      
    border: 1px solid #000!important;   
}

.aghu-suggestion-text {
	border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    float: left;
    font-weight: bold;
    padding: 2px 0 ;
    /*os tamanhos de fonte dessa classe estao em "aghu-default.css"*/
}
.aghu-suggestion-text-break {
	border-bottom: 1px dotted #ccc;  
	margin:0 2px;
	line-height:1em; 
	font-size: 90% !important;
}
/*SUGGESTIONBOX FIM ************************************************************************************************/




/*BOTOES DE AÇAO  **************************************************************************************************/
.button-acao {	 	
    color: black!important;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    text-align: left !important; 
    font-size:11px !important;    
    margin:0 5px 1px !important;
    height:30px;   
    border-radius: 3px!important;
}
	
	.bt_cinza {	  
	    background: -webkit-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0)!important;
		background: -moz-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0)!important;
    	border: 1px solid #6CB229!important;  
    	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset!important;
    	
	}
	.bt_cinza:hover {
		background: -webkit-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0)!important;
		background: -moz-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0)!important;
	    border: 1px solid #6CB229!important;     
	    box-shadow: 0 0px 8px #6CB229, 0 1px 0 rgba(255, 255, 255, 0.4) inset!important;	
	}
	
	/*BOTAO CINZA DESABILITADO*/
	.bt_cinza:disabled  {
    	background: -webkit-linear-gradient(top , rgba(170, 170, 170, 1.0), rgba(255, 255, 255, 0)) #d9d9d9!important;
	    background: -moz-linear-gradient(top , rgba(170, 170, 170, 1.0), rgba(255, 255, 255, 0)) #d9d9d9!important;   
    	border: 1px solid #909090 !important;     	
	    box-shadow:  0 1px 0 rgba(255, 255, 255, 0.7) inset!important;
	    opacity:0.4!important;
	    color:#444!important;
	}
	
	
	
	.bt_vermelho {
	    background: -webkit-linear-gradient(top , rgba(210, 114, 101, 1.0), rgba(244, 175, 165, 0.3))rgba(244, 175, 165, 1.0)!important;
		background: -moz-linear-gradient(top , rgba(210, 114, 101, 1.0), rgba(244, 175, 165, 0.3))rgba(244, 175, 165, 1.0)!important;
	    border: 1px solid  rgba(210, 114, 101, 1.0)!important;     
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset!important;		       
	    float:right;  	   
	}
	
	.bt_vermelho:hover {
		background: -webkit-linear-gradient(top , rgba(210, 114, 101, 1.0), rgba(244, 175, 165, 0.3))rgba(244, 175, 165, 1.0)!important;
		background: -moz-linear-gradient(top , rgba(210, 114, 101, 1.0), rgba(244, 175, 165, 0.3))rgba(244, 175, 165, 1.0)!important;
	    border: 1px solid  rgba(210, 114, 101, 1.0)!important;  	     
	    box-shadow: 0 0 8px rgba(210, 114, 101, 1.0), 0 1px 0 rgba(255, 255, 255, 0.4) inset!important;	  	   	
	}

	
	.bt_vermelho:disabled {
    	background: -webkit-linear-gradient(top , rgba(170, 170, 170, 1.0), rgba(255, 255, 255, 0)) #d9d9d9!important;
	    background: -moz-linear-gradient(top , rgba(170, 170, 170, 1.0), rgba(255, 255, 255, 0)) #d9d9d9!important;   
    	border: 1px solid #909090 !important;     	
	    box-shadow:  0 1px 0 rgba(255, 255, 255, 0.7) inset!important;
	    opacity:0.4!important;
	    color:#444!important;
	}
	
.aghu-column-button button.button-acao {
    width: 100%;
}	
	


/*BOTOES DE AÇAO - FIM ********************************************************************************************************/

/* Server Data Table *********************************/
.first-column{
	text-align:center;
	width:65px;
}

.ui-datatable td, .ui-datatable thead th {
	white-space: normal !important;
}


.caixa-texto-amarela {
	padding: 3px;
	width: 600px;
	height: 100px !important;
	overflow: auto;
	white-space: normal !important;
}

.hide-column-names table thead tr {
    display: none;
}



.bt_verde {
	background: #A8CAB6 !important;
	border: 1px solid #558C6B !important;
}

.bt_verde:hover {
	background: #94DEC2 !important;
	border: 1px solid #558C6B !important;
	box-shadow: 0 0px 5px #558C6B !important;
}

/*andre acrescentado disableverde*/
.disabled-green {
    background: green!important;
    color: black!important;
}

/*BUTTON STEP */
.aghu-stepbutton {
    height: 80px;
    width: 120px;
}

.aghu-stepbutton span.ui-button-text {
	margin: 0 auto !important;
	padding: 0.1em 0.8em !important;
	text-align: center !important;
}

.aghu-stepbutton:hover,.aghu-stepbutton:focus, .bt-selected{
	background: #FFC926!important;
	border-color: #DFA800!important;
}

.bt-selected, .bt-selected:hover, .bt-selected:focus{
	cursor: default !important;
   	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset!important;
}

.aghu-stepicon {
    background: none repeat scroll 0 0;
    display: block !important;
    height: 32px;
    margin: 6px auto !important;
    width: 32px;
    position: static!important
}
.aghu-steparrow {
    background: none repeat scroll 0 0 red;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: top;
    margin: 30px 0 0 0;
}
/*BUTTON STEP - FIM*/

.ui-datatable-hor-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper {
     overflow: auto;
     width: 100%;
     padding-bottom: 5px;
}
/*INPUT RADIO*/
.aghu-input-radio  {      
    margin: 0 6px 0 0;
    /*demais estilos dessa classe estao em "aghu-casca-theme.css"*/
}
/*SPINNER BUTTON*/
.button-spinner {
	color: black!important;
	margin: 2px 8px 0px !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7)!important;
	font-size: 1.2em!important;
	line-height: 2px;
}

.ui-spinner-input {
    padding-right: 20px;
    text-align: left!important;
    vertical-align: middle;
}