/******************************
** Name: casca-layout.css
** Autor: acorrea, cqsilva
** Date Created: 04/09/2014
*******************************/
@CHARSET "UTF-8";


/* MENU */
.casca-menu {
	background-color: #6CB229; 
}


.casca-menu-topbar {
	background-color: rgba(0,0,0, 0.1);
}

.casca-menu-text {
   	color: white;
}

.casca-menu-separator {
    border-left: 2px dotted rgba(0, 0, 0, 0.1);
}
    


/*Menu Principal */
.casca-menu-component {
	background-image:url('../resources/img/components/back-menu.png');
	background-color: white;
	background-repeat: no-repeat; 
}

.pol-menu-panel {
	background-image:url('../resources/img/components/back-menu.png');
	background-color: white;
	background-repeat: no-repeat; 
}

/*Menus Filhos*/
.casca-menu-component ul {
    background-color: rgba(162, 228, 95, 0.95);
    background-image: url("../resources/img/components/back-menu-verde.png")!important;
    background-position: left top!important;
    background-repeat: no-repeat!important;
    border-radius: 0 !important;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.40)!important; 
}

/* Barra de Seleção do Menu*/
.amazonmenu ul li a:hover, .amazonmenu ul li.hassub.selected > a {
    background: none repeat scroll 0 0 #6cb229 !important;
    color: black;
}



/*Texto Menus Filhos*/

.casca-menu-itens  {
    color: black;
}

.casca-menu-itens-off  {
    color: gray !important;
    font-style: italic;
}

.casca-pesquisa-input > input.ui-autocomplete-input {    
    box-shadow: 0 2px 2px #296f00 inset;
    padding: 3px 6px 0px 6px !important;
    border:none!important;
}    

.casca-pesquisa-input > input.ui-autocomplete-input:focus {
	color:#353535;
}	


.casca-frame {
	background: white;
}	

/*CORES DO CARD DO DASHBORAD*/
/*CARD DO DASHBOARD*/
.casca-dash-icone div.ui-panel-titlebar {
    background:-moz-linear-gradient(center top , rgba(190, 231, 150, 1), rgba(255, 255, 255, 0.0)) repeat scroll 0 0 rgba(255, 255, 255, 1.0) !important;
    border-color:#bee796;
    /*demais estilos dessa classe estao em "aghu-casca-layout.css"*/    
}

/*CANTO DO CARD DO DASHBOARD*/
.casca-canto-card {
    background: -moz-linear-gradient(center top , rgba(108, 178, 41, 1), rgba(108, 178, 41, 0.0)) repeat scroll 0 0 rgba(255, 255, 255, 1) !important;
    /*demais estilos dessa classe estao em "aghu-casca-layout.css"*/     
}

/*CORES DO MENU POL*/
.node-pol > .ui-treenode-content:hover {
    background: #B6E388!important;
    /*demais estilos dessa classe estao em "aghu-pol.css"*/  
}

/*INPUT RADIO*/
.aghu-input-radio  {    
    box-shadow: 0 0 3px 1px #999;    
    /*demais estilos dessa classe estao em "aghu-components.css"*/
}
.aghu-input-radio:checked {
    background: none repeat scroll 0 0 #00B200;
    box-shadow: 0 0 5px 1px #00b22d;
}
.aghu-input-radio:focus  {
    box-shadow: 0 0 3px 1px #FFBF00;
}


/* ABAS */

/* RODAPÉ */
.casca-rodape {
	color:white;
	background:#6cb229;
}