/******************************
** Name: aghu-pol.css
** Autor: acorrea, cqsilva
** Date Created: 12/11/2014
*******************************/
@CHARSET "UTF-8";

.accordion-pol {
}


.accordion-pol div.ui-accordion-content {
	padding:0px;	
}


.accordion-tab-pol {
	font-size:11px !important;
}


.node-pol {
}

.node-pol a {
    text-decoration: none;
}
.node-pol a:hover {
    text-decoration: underline;
}

.node-pol a {
    text-decoration: none;
}
.node-pol a:hover {
    text-decoration: none;
}

.node-link-pol {
	text-decoration:none;
}

.node-link-pol-break {
	text-decoration:none;
    font-size: 10px;
    white-space: pre-wrap;
    display: flex;	
}


.node-link-pol-selected {
   	background: none repeat scroll 0 0 #ffff80;
    display: block;
}

.accordion-pol div.ui-widget-content {
    background: none;
}
.casca-tabs-content div.ui-widget-content {
    border: none;
}

.node-pol > .ui-treenode-content {
    display: block;
}

.node-pol > .ui-treenode-content:hover {    
    display: block;
    /*demais estilos dessa classe estao em "aghu-casca-theme.css"*/
}

.aghu-pol-west {
   background: #fff;
   border-radius: 0	!important;
   box-shadow: 1px 0 3px;
}

.accordion-pol div.ui-widget-content {
    background: none;
}
.casca-tabs-content div.ui-widget-content {
    border: none;
}

.node-pol > .ui-treenode-content {
    display: block;
}
.node-pol > .ui-treenode-content:hover {
    background: #B6E388!important;
    display: block;
}

