/******************************
** Name: aghu-login.css
** Autor: acorrea, cqsilva
** Date Created: 22/10/2014
*******************************/
@CHARSET "UTF-8";

body {
	background:#6CB229 !important;
}

.img-fundo {
    position: fixed;
    margin: 0 auto;
    height: 100%;    
    width: 100%;   
}
.img-fundo img {     
    width: 100%;
}

.box-login {    
    position: relative;
    margin: 0 auto;
    width: 380px; 
    height:auto;
    top:120px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); 
}  
.top-login {    
    position: relative;
    width: 100%;
    padding:10px 0;
    background: #6CB229; 
    text-align: center;
    color:#fff;
    font-size:18px; 
}  
.area-logo {    
    position: relative;
    width: 100%;  
    height:auto;
    padding:15px 0; 
    text-align: center;    
}   
.area-input {    
    margin:0 auto 5px;
    width: 260px;  
    height:auto;
    display: table;
    padding:15px 0;    
} 
.footer-login {    
    margin:auto;
    width: 100%;
    padding:10px 0;
    text-align: center;
    font-size:10px;
}
    
.button-login {
    border-radius: 3px;
    color: black;
    font-size: 12px;    
    font-weight: bold;
    height: 30px;
    margin: 10px 0 ;
    text-align: center;
    width:230px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    background: -webkit-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0);
	background: -moz-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0);
    border: 1px solid #6CB229;  
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
} 
.button-login:hover {
	background: -webkit-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0)!important;
	background: -moz-linear-gradient(top , rgba(108, 178, 41, 1.0), rgba(108, 178, 41, 0)) rgba(181, 227, 134, 1.0)!important;
	border: 1px solid #6CB229;     
    box-shadow: 0 0px 8px #6CB229, 0 1px 0 rgba(255, 255, 255, 0.4) inset;	
}   
.aghu-linha-login {
    display: table;
    height: auto;
    margin: 0 auto;
}  
