/******************************
** Name: casca-layout.css
** Autor: acorrea, cqsilva
** Date Created: 04/09/2014
*******************************/
@CHARSET "UTF-8";


.area-principal {
	min-height:100%;
	height:100%;
	position:relative;	
}

.notificationBemVindo {
	opacity:0.9;
	z-index:10000;
	text-align:center;
	text-shadow:1px 2px #CCCCCC;
}

/* MENU */

.casca-menu {
	height: 60px;
	overflow: hidden;
	z-index: 50;
	width: 100%;
	background-color: #6cb229;
}

.casca-menu-topbar {
	position: relative;
	top: 0;
	margin-bottom: 3px;
	width: 100%;
	height: 6px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.1);
}

.casca-menu-ico {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	height: 32px;
	width: 32px;
}

.casca-menu-text {
	display: block;    
	font-size: 11px;
	margin: 8px 5px;
	text-decoration: none;
	float: left;
	color: white;
}

.casca-menu-separator {
	float: left;
	height: 34px;
	margin: 4px 17px 0 17px;
	width: 3px;
	border-left: 2px dotted rgba(0, 0, 0, 0.1);
}

.casca-menu-top {
	margin: 2px 12px 0;
	width: auto;
	height: 32px;
	z-index: 100;
}

.casca-menu-top.casca-menu-principal {
	float: left;
}

.casca-menu-top.casca-menu-pol {
	float: left;
}

.casca-menu-top.casca-menu-sair {
	float: right;
}

.casca-menu-top.casca-menu-pesquisa {
	float: right;    
	font-size: 10px;
	margin: 6px 5px;
	color: white;	
}

.casca-menu-center {
	display: block;
	left: calc(50% - 100px);
	position: absolute;
	margin-top: 4px;
	width: 200px;
	height: 30px;
	z-index: 100;
	text-align: center;
}

/*Menu Principal */
.casca-menu-component {
	width: 170px !important;
    height: calc(100% - 84px) !important;          /* Native */
	height: -webkit-calc(100% - 84px) !important;   /* Chrome */
	height: -moz-calc(100% - 84px) !important;      /* Firefox */	
	padding:0.7em 0 !important;/*6px*/
	border-radius: 0 !important;
	border:none;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.40)!important;    
}

.pol-menu-panel {
	border-radius: 0 !important;
	border:none;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.40)!important;    
	padding: 5px 0px 15px !important; 
	top: 56px !important;  
	left: 140px!important;
	background-color: white;
	background-position:0;
}

.pol-menu-label {
	 float:left; 
	 line-height:26px;
	 margin-right:4px
}

.casca-menu-arrow {
	position:absolute; 
	width:0px;
	height:0px; 
	left:16px; 
	top:-20px; 
	border-style: solid;
	border-width: 10px; 
	border-color: transparent transparent #bfbfbf transparent;
}

/*Texto Menus Filhos*/

.casca-pesquisa-menu {
	width:650px;
}


.casca-pesquisa-input > input.ui-autocomplete-input {    
    box-shadow: 0 2px 2px #296f00 inset;
    padding: 3px 6px 0px 6px !important;
    border:none!important;
}    


/* CONTEÚDO */
.casca-conteudo {	
	height: -webkit-calc(100% - 87px);  /* Chrome */
	height: -moz-calc(100% - 87px);     /* Firefox */	
	height: calc(100% - 87px);			/* Native */
	display:block;
}


.casca-frame {
	height: calc(100% - 8px);
	width: 100%;
	margin-top: 4px; 
}	


/* ABAS */

.casca-tabs {
	width:100%;
	height:100%;
}

.casca-tabs-content {
	overflow: hidden !important;
}	

/* RODAPÉ */
.casca-rodape {
	width:100%;
	height:25px;
	position:absolute;
	bottom:0;
	left:0;
}

.casca-rodape-left {
	float:left;
	margin-left: 5px;
	margin-top: 4px;	
}

.casca-rodape-right {
	float:right;	
	margin-right: 5px;
	margin-top: 4px;
}

.casca-rodape-center {
    float: left;
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 200px;	
    margin-top: 4px;
}


/* DASHBOARD */
.casca-dash-icone {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none;
    margin: 10px !important;
    width: 90px;
    height:120px;
    cursor:pointer;
}


.casca-dash-icone .ui-panel-content{
    padding: 1px !important;
    text-align: center;	
    font-size: 12px;
}

/*CARD DO DASHBOARD*/
.casca-dash-icone div.ui-panel-titlebar {   
    border: 1px solid;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 64px;
    padding: 0!important;
    text-align: center;
    width: 74px;
    margin:auto;
    /*as cores-template dessa classe estao em "aghu-casca-theme.css"*/ 
}
/*POSICAO DO ICONE NO CARD*/
.casca-dash-icone span.ui-panel-title {
    display: inline-block;
    height: 32px;
    margin: 10px 0 0 0 !important;
    position: relative;
    width: 32px;
}
/*CANTO DO DASHBOARD*/
.casca-canto-card {    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: right;
    height: 64px;
    position: relative;
    width: 18px;
    /*as cores-template dessa classe estao em "aghu-casca-theme.css"*/ 
}
/*FECHAR DO CARD*/
.casca-fechar-card {
    display:none; 
    margin:4px auto 0; 
    width:16px;
    height:16px;
    background-repeat: no-repeat;
    background-image:url('../resources/img/icons/close-window2.png')
}

.casca-visivel {
    display:block; 
}

.casca-dash-link {
	cursor: pointer;
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;	
}

/* HOME */

.casca-home-left {
	font-size: 12px!important;
    float: left;
    position: relative;
 	height: calc(100%);           /* Native */ 
	height: -webkit-calc(100%);   /* Chrome */
	height: -moz-calc(100%);      /* Firefox */	
 	width: calc(50% - 510px);           /* Native */ 
	width: -webkit-calc(50% - 510px);   /* Chrome */
	width: -moz-calc(50% - 510px);      /* Firefox */		
}



.casca-home-center {
	color: lightGray;   
    float: left;
    position: relative;
	width: 1018px;
 	height: calc(100%);          		 /* Native */ 
	height: -webkit-calc(100%); 		 /* Chrome */
	height: -moz-calc(100%);      		 /* Firefox */	
}



.casca-home-right {
    float: left;
    position: relative;
 	height: calc(100%);           /* Native */ 
	height: -webkit-calc(100%);   /* Chrome */
	height: -moz-calc(100%);      /* Firefox */	
 	width: calc(50% - 510px);           /* Native */ 
	width: -webkit-calc(50% - 510px);   /* Chrome */
	width: -moz-calc(50% - 510px);      /* Firefox */		
}

.casca-home-accordion {
	height:100%;
}

.casca-home-accordion div.ui-accordion-content {
	font-size:12px;
	height: calc(100% - 137px);
}


.casca-home-accordion-ul {
    margin-left: 0 !important;
    padding: 0;
}
.casca-home-accordion ul {
    list-style-type: none;
    margin: 0;
}
.casca-home-accordion-ul > li {
    margin: 3px 0;
    border-top: 1px dashed #ccc;
}

.casca-home-accordion-link {
    color: #000!important;
    font-size: 12px;
    text-decoration: none;
    line-height: 22px;
}

.casca-pontaborda {
    border-color: transparent transparent #bfbfbf transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    left: 12px;
    position: absolute;
    top: -20px;
    width: 0;
}

.casca-pendencias {
	margin: 20px 10px;
	padding: 0 0 5px;
    max-width: calc(100% - 20px);
   	max-width: -webkit-calc(100% - 20px);   /* Chrome */
	max-width: -moz-calc(100% - 20px);      /* Firefox */	
    max-height: calc(100% - 50px);
    max-height: -webkit-calc(100% - 50px);   /* Chrome */
	max-height: -moz-calc(100% - 50px);      /* Firefox */	
}

/*AREA DE MARCACAO DO MOVIMENTO DO CARD*/
div.casca-home-center .ui-state-hover {
    background: rgba(0, 0, 0, 0.05)!important;
    border: 1px dashed #ccc!important;
}