/* Máscara de Exames */

#wrapper {
  text-align: left;
  width: 100%;
  height: 508px;
}

#options {
	/*background-color: lightGray;*/
	height: 20px;
	margin-bottom: 2px;
	padding: 5px;
	width: 100%;
}

#props {
	/*background-color: lightGray;*/
	/*height: 36px;*/
	padding: 5px;
	width: 100%;
}

#propsScroll {
    /*background-color: lightgray;*/
    float: left;
    /*height: 138px;*/
    margin-top: 2px;
    overflow-x: auto;
    padding: 4px 10px;
    width: 972px;    	
}


#frameScroll {
	background-color: lightgray;
	border: 1px solid black;
	float: left;
	height: 438px; 
	overflow-x: scroll;
	padding: 10px;
	position: relative;
	width: 950px;
	z-index:0;
}

#frame{
	width:210mm;
	height:297mm;
	border:1px dotted black;
	margin: 5px;
	position: relative;
	background-color: white;
}

.dragMenu {
	border: 1px solid white;
	width:75px;
	height:16px;
	padding: 2px;
	margin:1px;
	vertical-align:middle;
	z-index:1;
}


.drag {
	border: 1px solid white;
	width:75px;
	height:16px;
	box-sizing: border-box;
	margin:1px;
	vertical-align:middle;
	z-index:1;
}

.dragAux {
	float:left;
	padding: auto;
	margin: auto;
	margin-left: 5px;
	cursor:default;
	/*width:80px;*/ 
	height:16px;
}			

.drag1 {
	border:1px solid;
	background-color: white;
	white-space: nowrap;
	background-color: white;	
    /*background-image: url("../resources/img/icons/textfield.png");
    background-position: 98% 50%;*/
    background-repeat: no-repeat;
}

.drag2 {
	border:1px solid;
	padding-left: 5px;
	height:auto;
	background-color: white;	
    background-repeat: no-repeat;	
}

.drag3 {
	border:1px solid;
	padding-left: 5px;
	height:auto;
	background-color: white;	
    background-repeat: no-repeat;
    width: 120px;	
				
}

.drag4, .drag41 {
	border:1px solid;
	padding-left: 5px;
	width:74px;
	background-color: white;	
    background-repeat: no-repeat;	
}

div.drag41 div {
	padding-top: 42px; 
}

.drag5 {
	border:1px solid;
	padding-left: 5px;
	padding-right: 21px;
	height:auto;
	background-color: white;
    background-image: url("../resources/img/arrow.png");
    background-position: right center;
    background-repeat: no-repeat;		
	background-size: 18px 100%;    		
}



.drag6 {
	border:1px solid blue;
	padding-left: 5px;
	height:auto;
	background-color: white;	
    background-repeat: no-repeat;
    width: 74px;					
}

.drag7 {
	border:1px solid blue;
	padding-left: 5px;
	height:auto;
	background-color: white;	
    background-repeat: no-repeat;	
    width: 49px;		
}

.drag8 {
	border:1px solid blue;
	padding-left: 5px;
	height:auto;
	background-color: white;	
    background-repeat: no-repeat;	
    width: 74px;
}

.drag9 {
	border:1px solid blue;
	padding-left: 5px;
	height:auto;
	background-color: white;	
    background-repeat: no-repeat;		
    width: 54px;			
}

.drag10 {
	border:1px solid blue;
	padding-left: 5px;
	height:auto;
	background-color: white;
    background-repeat: no-repeat;	
    width: 74px;
}


.dragged {
	position:absolute;
}

div.dragged:hover {
    background-color: #E8E8E8;
    box-shadow: 1px 1px 3px 1px #CCCCCC;
}	

div.draggedSelect {
    box-shadow: 2px 2px 6px 2px #CCCCCC;
    border: 1px dashed red;
}	