<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.quartz">

    <resources>
        <resource-root path="quartz-2.2.1.jar"/>
        <resource-root path="properties"/>
    </resources>

    <dependencies>
		<module name="org.slf4j"/>
        <module name="javax.api"/>
        <module name="com.c3p0"/>
        <module name="com.oracle.ojdbc6"/>
		<module name="org.postgresql"/>
    </dependencies>

</module>

