<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>AGHU</display-name>
	
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config.xml,
			/WEB-INF/navigation-rule/casca-pages.xml,
			/WEB-INF/navigation-rule/bancodesangue-pages.xml,
			/WEB-INF/navigation-rule/blococirurgico-pages.xml,
			/WEB-INF/navigation-rule/internacao-pages.xml,
			/WEB-INF/navigation-rule/paciente-pages.xml,
			/WEB-INF/navigation-rule/faturamento-pages.xml,
			/WEB-INF/navigation-rule/prescricaomedica-pages.xml,
			/WEB-INF/navigation-rule/certificacaodigital-pages.xml,
			/WEB-INF/navigation-rule/controlepaciente-pages.xml,
			/WEB-INF/navigation-rule/exames-pages.xml,
			/WEB-INF/navigation-rule/prescricaoenfermagem-pages.xml,
			/WEB-INF/navigation-rule/farmacia-pages.xml,
			/WEB-INF/navigation-rule/ambulatorio-pages.xml,
			/WEB-INF/navigation-rule/patrimonio-pages.xml,
			/WEB-INF/navigation-rule/estoque-pages.xml,
			/WEB-INF/navigation-rule/compras-pages.xml,
			/WEB-INF/navigation-rule/suprimentos-pages.xml,
			/WEB-INF/navigation-rule/transplante-pages.xml,	
			/WEB-INF/navigation-rule/pol-pages.xml,
			/WEB-INF/navigation-rule/sicon-pages.xml,
			/WEB-INF/navigation-rule/custos-pages.xml,
			/WEB-INF/navigation-rule/procedimentoterapeutico-pages.xml,
			/WEB-INF/navigation-rule/controleinfeccao-pages.xml,
			/WEB-INF/navigation-rule/emergencia-pages.xml,
			/WEB-INF/navigation-rule/perinatologia-pages.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>${project.stage}</param-value> 		
	</context-param>	
	<context-param>  
	    <param-name>primefaces.THEME</param-name>  
	    <param-value>#{cascaController.primeTheme}</param-value>  
 	</context-param>
 	<context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
	<context-param>
		<param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
	    <param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>com.sun.faces.numberOfLogicalViews</param-name>
	    <param-value>20</param-value>
	</context-param>
	<context-param>
	    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
	    <param-value>server</param-value>
	</context-param>	
	<context-param>
   		<param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
   		<param-value>true</param-value>
	</context-param>		
	<context-param>
	    <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
	    <param-value>65535</param-value><!-- 64KB -->
	</context-param>	
 		
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- filter> <filter-name>NoCacheFilter</filter-name> <filter-class>br.gov.mec.aghu.filter.NoCacheFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>NoCacheFilter</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping -->
		
 	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/resources/components/functions.taglib.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/not-implemented.html</location>
	</error-page>
	
	<mime-mapping>
		<extension>xcss</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All resources</web-resource-name>
			<url-pattern>/pages/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ROLE_AGHU_USER</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>aghuRealm</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/erroDefault.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>ROLE_AGHU_USER</role-name>
	</security-role>
	<security-role>
		<role-name>ROLE_AGHU_ADMIN</role-name>
	</security-role>
</web-app>