@CHARSET "UTF-8";
/* Geral */
html > object:last-child {
    display: none;
}
/* FIM - Geral */
/* Formulario */
.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
/* Fieldset */
fieldset.ui-widget-content {
    border: 1px solid #C0C0C0;
    background: none;
    color: #333333;
    margin: 0 0 10px 0;
}
/* Legend */
.ui-state-default.ui-fieldset-legend {
	background: none;
	color: #fff;
	background-color: #4A75B5;
	font-size: 12px;
	box-shadow: 1px 1px 3px 1px #ababab;
	border: 0;
}
.ui-state-default.ui-fieldset-legend .ui-icon {
	background-image: url("/aghu/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-ui-lightness");
}
/* Bloco input */
.ui-fieldset .aghu-boxinput {
	padding: 3px;
}
.ui-fieldset .aghu-boxinput:hover {
	background-color: #E8E8E8;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 1px #CCCCCC;
}
/* Label */
label {
	padding: 0;
}
/* Inputs */
.ui-widget {
	font-family: Arial,Verdana,sans-serif;
	font-size: 12px;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Verdana,sans-serif;
	font-size: 11px
}
.ui-inputfield,
.ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
	border-radius: 0;
	box-shadow: none !important;
	border: 1px solid #ccc;
	background: #eaf0f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaf0f8 5%, #fdfdfe 40%, #fdfdfe 100%, #fdfdfe 100%, #fdfdfe 100%, #fdfdfe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#eaf0f8), color-stop(40%,#fdfdfe), color-stop(100%,#fdfdfe), color-stop(100%,#fdfdfe), color-stop(100%,#fdfdfe), color-stop(100%,#fdfdfe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaf0f8 5%,#fdfdfe 40%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaf0f8 5%,#fdfdfe 40%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaf0f8 5%,#fdfdfe 40%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaf0f8 5%,#fdfdfe 40%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%,#fdfdfe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf0f8', endColorstr='#fdfdfe',GradientType=0 ); /* IE6-9 */
}
.ui-inputfield:focus,
.ui-widget-content .ui-inputfield:focus,
.ui-widget-header .ui-inputfield :focus {
	background-color: #fff;
	border-color: #a0a0a0;
}

/* Autocomplete */
.ui-autocomplete > .ui-widget {
	font-size: 12px;
}

/* Botoes */
.ui-widget-content.aghu-acao-lateral {
	clear: both;
	margin: 5px 0 0 2px !important;
}
.ui-button.ui-state-default {
	background: #f4f4f4;
	border: 1px solid #336a20;
	color: #336a20;
	font-size: 12px;
	margin: 0 8px 0 0;
	box-shadow: 1px 1px 3px 1px #ababab;
}
.ui-button.ui-state-default:hover {
	background: #e1ede0;
}
.ui-button.ui-state-default .ui-icon {
	background-image: url("/aghu/javax.faces.resource/images/ui-icons_222222_256x240.png.xhtml?ln=primefaces-ui-lightness");
}
.ui-button.ui-state-default.bt_vermelho {
	border-color: #d13433;
	color: #d13433;
	float: right
}
.ui-button.ui-state-default.bt_vermelho:hover {
	background: #fbe3e4;
}
/* Headers geral */
.ui-widget-header {
	background: #4A75B5;
}
/* Tabelas*/
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #EAF0F8;
	font-weight: bold;
	color: #000;
}
.ui-tabs-nav .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
}
.ui-tabs-nav .ui-state-default a {
	color: #555555;
	font-size: 12px;
	padding: 5px 10px;
}
.ui-widget-header .ui-state-default:hover,
.ui-widget-header .ui-state-default.ui-state-active {
	background: #fff;
}
.ui-widget-header .ui-state-default:hover a,
.ui-widget-header .ui-state-default.ui-state-active a {
	color: #000;
}
.first-column{
	text-align:center;
	width:65px;
}