@CHARSET "UTF-8";
body {
	position: relative;
}
.area-principal {
	min-height:100%;
	height:100%;
	position:relative;	
}

.notificationBemVindo {
    opacity: 0.9;
    z-index: 10000;
    text-align: center;
    text-shadow: 1px 2px #CCCCCC;
    background-color: #fff;
	bottom: 15px;
}

/* MENU */

.casca-menu {
	height: 70px;
	overflow: hidden;
	z-index: 50;
	width: 100%;
	background-color: #6cb229;
}

.casca-menu-topbar {
	position: relative;
	top: 0;
	margin-bottom: 3px;
	width: 100%;
	height: 6px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.1);
}

.casca-menu-ico {
	text-align: center;
	font-size: 33px;
	color: #777;
}

.casca-menu-text {
    display: block;
    font-size: 11px;
    text-decoration: none;
    color: #333;
}

.casca-menu-separator {
	float: left;
	height: 34px;
	margin: 4px 17px 0 17px;
	width: 3px;
	border-left: 2px dotted rgba(0, 0, 0, 0.1);
}
a.casca-menu-top {
    color: transparent;
    z-index: 100;
    background-color: #fff;
    padding: 20px 20px 10px;
    margin: -10px 0 0 0;
    box-shadow: 0px 0px 3px 1px #d3d3d3;
    height: 40px;
}
a.casca-menu-top:hover {
	background-color: #FFFAED;
}
.casca-menu-top.casca-menu-principal {
	float: left;
}
.casca-menu-top.casca-menu-pol {
    position: absolute;
    right: 66px;
    border-bottom-left-radius: 5px;
    z-index: 101;
}
.casca-menu-top.casca-menu-sair {
    position: absolute;
    right: 0;
}
.casca-menu-top .icon {
	font-size: 25px;
	color: #777;
}

.casca-menu-top.casca-menu-pesquisa {
	float: right;    
	font-size: 10px;
	margin: 6px 5px;
	color: white;	
}

.casca-menu-center {
	display: block;
	left: calc(50% - 100px);
	position: absolute;
	margin-top: 4px;
	width: 200px;
	height: 30px;
	z-index: 100;
	text-align: center;
}

.amazonmenu > ul > li > a, .amazonmenu > ul > li > a:hover  {
    padding: 10px 5px 10px;
}
.amazonmenu > ul > li.hassub.selected > a {
    padding: 10px 5px 10px;
}

/*Texto Menus Filhos*/

.campo-pesquisa #pesquisaMenus {
	width: 100%;
}

.casca-pesquisa-menu {
	width:650px;
}  


/* CONTEÚDO */
.casca-conteudo {	
	height: -webkit-calc(100% - 91px);  /* Chrome */
	height: -moz-calc(100% - 91px);     /* Firefox */	
	height: calc(100% - 91px);			/* Native */
	display:block;
}


.casca-frame {
	height: calc(100% - 8px);
	width: 100%;
	margin-top: 4px; 
}	


/* ABAS */

.casca-tabs {
	width:100%;
	height:100%;
}

.casca-tabs-content {
	overflow: hidden !important;
}	

/* RODAPÉ */
.casca-rodape {
	width:100%;
	height:25px;
	position:absolute;
	bottom:0;
	left:0;
}

.casca-rodape-left {
	float:left;
	margin-left: 10px;
	margin-top: 4px;	
}
.casca-rodape-left .icon {
	float: left;
	margin-right: 5px;
	line-height: 1.6em;
}

.casca-rodape-right {
	float:right;	
	margin-right: 10px;
	margin-top: 4px;
}
.casca-rodape-right .icon {
	margin-right: 5px;
	line-height: 1.6em;
}

.casca-rodape-center {
    float: left;
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 200px;	
    margin-top: 4px;
}


/* DASHBOARD */
.casca-dash-icone {
	border: medium none;
	cursor: pointer;
	height: 40px;
	margin: 0 0 5px !important;
	padding: 0 !important;
	width: 100%;
}
.casca-dash-icone .ui-panel-content {
	color: #0078d0;
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 0 40px !important;
	position: absolute;
}
/*CARD DO DASHBOARD*/
.casca-dash-icone div.ui-panel-titlebar {
	border: 1px solid;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
	height: 35px;
	padding: 0 !important;
	text-align: center;
	width: 100%;
	background: #fff;
	border-color: #ccc;
    float: left;
}
.casca-dash-icone:hover div.ui-panel-titlebar {
	background-color: #fae6b0;
}
/*POSICAO DO ICONE NO CARD*/
.casca-dash-icone span.ui-panel-title {
	display: inline-block;
	float: left;
	height: 20px;
	margin: 8px 0 0 10px !important;
	position: relative;
	width: 20px;
}
/*CANTO DO DASHBOARD*/
.casca-canto-card {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	float: right;
	height: 35px;
	position: relative;
	width: 18px;
}
/*FECHAR DO CARD*/
.casca-fechar-card {
    display:none; 
    margin:4px auto 0; 
    width:16px;
    height:16px;
    background-repeat: no-repeat;
    background-image:url('../resources/img/icons/close-window2.png')
}

.casca-visivel {
    display:block; 
}

.casca-dash-link {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
}

/* HOME */

/*-- Pesquisa de funcionalidades --*/
#i_pesquisa {
	padding: 10px 8px 0 8px;
	height: 50px;
}
.icon-pesquisa {
	background: #777;
	color: #fff;
	height: 50px;
	width: 50px;
	text-align: center;
	vertical-align: top;
	float: left;
}
.icon-pesquisa i {
	line-height: 50px;
	font-size: 1.3em;
}
.titulo-pesquisa {
	background: #999;
	height: 50px;
	line-height: 50px;
	width: 260px;
	font-family: calibri;
	padding: 0 20px;
	float: left;
	color: #fff;
	font-style: italic;
	font-size: 18px;
}
.campo-pesquisa {
	background: #777;
	height: 40px;
	padding: 10px 10px 0 360px;
}
.campo-pesquisa input[type=text],
.campo-pesquisa input[type=text]:focus {
	border: none;
	height: 30px;
	width: 98%;
	padding: 0 1% 0 1%;
	background: #fff;
	font-size: 16px;
}
/*-- FIM - Pesquisa de funcionalidades --*/
.bloco {
	background-color: #F3F2F2;
	border-color: #C0C0C0;
	margin-bottom: 10px;
}
.bloco .bloco-conteudo {
	padding: 10px;
}

.casca-home-title {
	color: #fff;
	background: #4a75b5;
	font-size: 18px;
	padding: 5px;
	font-variant: small-caps;
	line-height: 21px;
}


.casca-home-left {
	font-size: 12px!important;
    float: left;
    position: relative;
 	width: calc(25% - 60px);           /* Native */ 
	width: -webkit-calc(25% - 60px);   /* Chrome */
	width: -moz-calc(25% - 60px);      /* Firefox */
	margin: 10px		
}
.casca-home-left .bloco-conteudo {
}


/* Bloco Manuais */
#bloco-manuais .icone-manual {
	text-decoration: none;
	float: left;
}
#bloco-manuais .icone-manual i {
	font-size: 3em;
	color: #4A75B5;
}
#bloco-manuais .manuais-txt {
	padding: 8px 0;
	text-align: center;
}

.casca-home-center {
	color: lightGray;   
    float: left;
    position: relative;
	width: 398px;
	margin: 10px;
}
.casca-home-center .bloco-conteudo {
	padding-bottom: 100px;
}
.casca-home-center .ui-sortable {
	float: none;
	padding: 0;
}

.casca-home-right {
    float: left;
    position: relative;
 	width: calc(75% - 378px);           /* Native */ 
	width: -webkit-calc(75% - 378px);   /* Chrome */
	width: -moz-calc(75% - 378px);      /* Firefox */
	margin: 10px 0;		
}

.casca-home-accordion {
	height:100%;
}

.casca-home-accordion div.ui-accordion-content {
	font-size:12px;
	height: calc(100% - 137px);
}


.casca-home-accordion-ul {
    margin-left: 0 !important;
    padding: 0;
}
.casca-home-accordion ul {
    list-style-type: none;
    margin: 0;
}
.casca-home-accordion-ul > li {
    margin: 3px 0;
    border-top: 1px dashed #ccc;
}

.casca-home-accordion-link {
    color: #000!important;
    font-size: 12px;
    text-decoration: none;
    line-height: 22px;
}

.casca-pontaborda {
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: -20px !important;
    left: 75%;
}

.casca-pendencias {
	margin: 20px 10px;
	padding: 0 0 5px;
    max-width: calc(100% - 20px);
   	max-width: -webkit-calc(100% - 20px);   /* Chrome */
	max-width: -moz-calc(100% - 20px);      /* Firefox */	
    max-height: calc(100% - 50px);
    max-height: -webkit-calc(100% - 50px);   /* Chrome */
	max-height: -moz-calc(100% - 50px);      /* Firefox */	
}

/*AREA DE MARCACAO DO MOVIMENTO DO CARD*/
div.casca-home-center .ui-state-hover {
    background: rgba(0, 0, 0, 0.05)!important;
    border: 1px dashed #ccc!important;
}