* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before, .row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.col-md-body:before,
.col-md-body:after,
.modal-footer:before,
.modal-footer:after {
	content: " ";
	display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.col-md-body:after,
.modal-footer:after {
	clear: both;
}
html {
	height: 100%;
}

body.login {
	margin: 0;
	min-width: 590px;
	min-height: 100%;
	position: relative;
	padding-bottom: 175px;
	font-family: Calibri, Verdana, Arial, sans-serif !important;
	color: #333;
	font-size: 14px !important;
	background-image: url(../resources/img/fundo-pagina.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
a {
	color: #97bf29;
	text-decoration: none;
	transition: all .3s;
}
a:hover,
a:focus {
	transition: all .3s;
	color: #333;
}
/*---- Tooltip ----*/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
/*---- FIM - Tooltip ----*/
/*---- Popover ----*/
.popover { 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
/*---- FIM - Popover ----*/
/*---- Texto ----*/
h1,
.h1,
h2,
.h2,
h3 ,
.h3,
h4,
.h4,
h5,
.h5,
h6 ,
.h6 {
	font-family: Calibri, Verdana, Arial, sans-serif;
	font-variant: small-caps;
	letter-spacing: 1px;
	line-height: 1.1;
	font-weight: normal;
	margin: 0 0 .5em 0;
}
.text-shadow {
	text-shadow: 2px 1px 2px #fff;
}
h1,
.h1 {
	font-size: 30px;
	margin-bottom: 20px;
}
h2,
.h2 {
	font-size: 26px;
	margin-bottom: 20px;
}
h3,
.h3 {
	font-size: 24px;
}
h4,
.h4 {
	font-size: 22px;
}
h5,
.h5 {
	font-size: 20px;
}
h6,
.h6 {
	font-size: 18px;
}
p {
	margin: 0 0 10px;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.pull-left {
	float: left!important;
}
/*---- FIM - Texto ----*/
/*---- Imagens ----*/
img[border=0] {
border-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
/*---- FIM - Imagens ----*/
/*---- Listas ----*/
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}
.list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
/*---- FIM - Listas ----*/
/*---- Layout ----*/
.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.col-md-12 {
	width:100%;
}
.col-md-11 {
	width:91.66666667%;
}
.col-md-10 {
	width:83.33333333%;
}
.col-md-9 {
	width:75%;
}
.col-md-8 {
	width:66.66666667%;
}
.col-md-7 {
	width:58.33333333%;
}
.col-md-6 {
	width:50%;
}
.col-md-5 {
	width:41.66666667%;
}
.col-md-4 {
	width:33.33333333%;
}
.col-md-3 {
	width:25%;
}
.col-md-2 {
	width:16.66666667%;
}
.col-md-1 {
	width:8.33333333%;
}
/*---- FIM - Layout ----*/
/*---- Barra Brasil ----*/
#barra-brasil,
#barra-brasil:before,
#barra-brasil:after,
#barra-brasil *,
#barra-brasil *:before,
#barra-brasil *:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
/*---- FIM - Barra Brasil ----*/
/*---- Topo ----*/
#topo-logo {
	display: inline-block;
	margin-left: -5px;
	height: 145px;
}
#topo-logo .logo-sistema {
	margin-left: -10px;
}
.login #topo-logo .versao {
	top: 125px;
	left: 65px;
	position: absolute;
	width: auto;
	color: #C00;
	font-size: 10px;
}

/*-----Imagem hospital----*/
#topo-logo .logo-hospital{
	position: absolute;
	top: 35px;
	left: 350px;
}
#topo-logo .logo-hospital img{
	height:80px;
}
/*---- Navegacao ----*/
#navegacao {
	float: right;
	padding-right: 15px;
}
#navegacao ul {
	margin: 0;
}
#navegacao ul li {
	padding: 0;
	margin: 0;
	line-height: 1.8em;
}
#navegacao ul li a {
	padding: 20px 19px 8px;
	background: rgba(0,0,0, 0.3);
	color: #fff;
	font-size: 17px;
	font-variant: small-caps;
	transition: all .2s;
	display: inline-block;
	margin-bottom: 2px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#navegacao ul li.active a,
#navegacao ul li a:hover {
	transition: all .2s;
}
#navegacao.primary ul li.active a,
#navegacao.primary ul li a:hover {
	background: rgba(151, 191, 41, 0.8);
}
#navegacao.success ul li.active a,
#navegacao.success ul li a:hover {
	background: rgba(71, 164, 71, 0.8);
}
#navegacao.info ul li.active a,
#navegacao.info ul li a:hover {
	background: rgba(57, 179, 215, 0.8);
}
#navegacao.warning ul li.active a,
#navegacao.warning ul li a:hover {
	background: rgba(237, 156, 40, 0.8);
}
#navegacao.danger ul li.active a,
#navegacao.danger ul li a:hover {
	background: rgba(210, 50, 45, 0.8);
}
/*---- FIM - Navegacao ----*/
/*---- FIM - Topo ----*/

/*---- Botoes ----*/
.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
	position: relative;
	float: left;
}
.btn-group .btn {
	margin-right: 1px;
}
.btn-group > .btn:first-of-type {
	margin-left: 0;
}
.btn-group > .btn:first-of-type:not(:last-of-type):not(.dropdown-toggle) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.btn-group > .btn:last-of-type:not(:first-of-type),
.btn-group > .dropdown-toggle:not(:first-of-type) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.btn-group > .btn:not(:first-of-type):not(:last-of-type):not(.dropdown-toggle) {
	border-radius: 0px;
}

.btn-group .btn {
	margin-right: 1px;
}
.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
	margin-left: 0;
}
.btn, .ui-button.ui-state-default.btn {
	box-shadow: none;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	font-style: italic;
	text-transform: uppercase;
	transition: opacity .2s;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	padding: 3px 6px;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
	opacity: .8;
	transition: opacity .2s;
	color: #fff;
}
.btn-link {
	color: #97bf29;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
	color: #333;
	text-decoration: none;
}
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background: #888888; /* Old browsers */
	background: -moz-linear-gradient(top,  #888888 0%, #676767 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(100%,#676767)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #888888 0%,#676767 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #888888 0%,#676767 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #888888 0%,#676767 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #888888 0%,#676767 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#676767',GradientType=0 ); /* IE6-9 */
}
.btn-light {
	background: #f5f5f5;
	color: #666;
}
.btn-light:hover {
	background: #e7e7e7;
	color: #000;
}
.btn-primary {
	background: #97bf29; /* Old browsers */
	background: -moz-linear-gradient(top,  #97bf29 0%, #7aa20c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97bf29), color-stop(100%,#7aa20c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97bf29 0%,#7aa20c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97bf29 0%,#7aa20c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97bf29 0%,#7aa20c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #97bf29 0%,#7aa20c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97bf29', endColorstr='#7aa20c',GradientType=0 ); /* IE6-9 */
}
.btn-success, .ui-button.ui-state-default.btn-success {
	background: #47a447; /* Old browsers */
	background: -moz-linear-gradient(top,  #47a447 0%, #398539 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#47a447), color-stop(100%,#398539)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #47a447 0%,#398539 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #47a447 0%,#398539 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #47a447 0%,#398539 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #47a447 0%,#398539 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a447', endColorstr='#398539',GradientType=0 ); /* IE6-9 */
}
.btn-info {
	background: #39b3d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #39b3d7 0%, #279bbd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39b3d7), color-stop(100%,#279bbd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #39b3d7 0%,#279bbd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #39b3d7 0%,#279bbd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #39b3d7 0%,#279bbd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #39b3d7 0%,#279bbd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b3d7', endColorstr='#279bbd',GradientType=0 ); /* IE6-9 */
}
.btn-warning, .ui-button.ui-state-default.btn-warning {
	background: #ed9c28; /* Old browsers */
	background: -moz-linear-gradient(top,  #ed9c28 0%, #d68613 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9c28), color-stop(100%,#d68613)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ed9c28 0%,#d68613 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ed9c28 0%,#d68613 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ed9c28 0%,#d68613 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ed9c28 0%,#d68613 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9c28', endColorstr='#d68613',GradientType=0 ); /* IE6-9 */
}
.btn-danger {
	background: #d2322d; /* Old browsers */
	background: -moz-linear-gradient(top,  #d2322d 0%, #ad2925 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2322d), color-stop(100%,#ad2925)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d2322d 0%,#ad2925 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d2322d 0%,#ad2925 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d2322d 0%,#ad2925 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d2322d 0%,#ad2925 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2322d', endColorstr='#ad2925',GradientType=0 ); /* IE6-9 */
}
.btn-default .caret {
	border-top-color: #fff;
}
a.btn:visited {
  color: #fff;
}
.ui-button.ui-state-default.btn-entrar {
	margin-right: 1px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.ui-button.ui-state-default.btn-esqueceusenha {
	margin-right: 1px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
/*---- FIM - Botoes ----*/
#btn-cadastro {
	float: right;
	/*margin: 17px 0 20px 0;*/
}



















.page-header {
	padding: 10px 15px 0 15px;
	margin: 0 -15px 20px -15px;
	background: #ededed;
	border: 0;
}

.lead {
	font-size: 17px;
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background: #fff;
	color: #666;
	font-size: 14px;
	line-height: 1.3em;
}
.well.balao:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 42px;
	border: 8px solid;
	border-color: #fff #fff transparent transparent;
}
.fs1 {
	font-size: 23px;
}
.icon {
	font-size: 0.8em;
}
/*---- Paginacao ----*/
.pager li > a,
.pager li > span {
	border-radius: 4px;
}
/*---- Tabelas ----*/
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
	vertical-align: middle;
}
.table thead > tr > th {
	background-color: #eee;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th {
	text-align: center;
	padding: 10px 0;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #ededed;
}
/*---- FIM - Tabelas ----*/
/*---- Formularios ----*/
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}
h2 legend {
	font-size: 30px;
}
legend {
	font-variant: small-caps;
	letter-spacing: 1px;
	border-bottom: 0;
	margin-bottom: 0;
}
label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
}
.form-horizontal .control-label {
	text-align: right;
}
.form-group {
	margin-bottom: 15px;
}
.form-control,
input[type="text"],
input[type="password"],
select,
textarea, 
textarea[type="textarea"] {
	padding: 4px 5px;
	border: 1px solid #e0e0e0;
	border-left: 1px solid #97bf29;
	background: #fbfbfb;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border-radius: 4px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control[required],
.CampoEstilo.obrigatorio {
	border-left-color: #c00;
}
.form-info {
	color: #39b3d7;
	font-size: 12px;
}
.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}
.input-group-btn, .input-group .form-control {
	display: table-cell;
}
.input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.input-group .form-control:first-child, .input-group-btn:first-child>.btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.control-label {
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
}
.aghu-boxinput {
	float: none;
	margin-top: -15px;
}
.btn.ui-state-default .ui-icon {
    background-image: url("/aghu/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-ui-lightness");
}

/*
.chosen-container-single .chosen-single {
	padding: 1px 0 0 5px !important;
	height: 29px !important;
	background: #fff !important;
	border: 1px solid #aaa !important;
	border: 1px solid #e0e0e0 !important;
	font-size: inherit !important;
}
*/
/*---- FIM - Formularios ----*/

/*---- Alertas ----*/
.alert {
	padding: 10px 15px;
	margin-bottom: 20px;
}
.alert ul {
	list-style-type: none;
	margin: 5px;
}
.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
/*---- FIM - Alertas ----*/
/*---- Menu secundario ----*/
.nav-pills {
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top,  #444444 0%, #141414 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#141414)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #444444 0%,#141414 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #444444 0%,#141414 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #444444 0%,#141414 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #444444 0%,#141414 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
}
.nav-pills > li > a {
	border-radius: 0;
}
.nav-pills > li > a {
	padding: 5px 15px;
	transition: all .3s;
	font-size: 12px;
	color: #ededed;
	border-right: 1px solid #111;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	color: #97bf29;
	background: none;
}
.nav-pills > li.active > a {
	background: #444;
	color: #97bf29;
}
/*---- FIM - Menu secundario ----*/
/*---- Menu em abas ----*/
.nav-tab-fundo {
	padding: 10px 10px 0 10px;
	background: #ededed;
}
.nav-tabs {
	border-bottom: 0;
	height: 27px;
	background: #ededed;
	padding: 0 20px;
}
.nav-tabs > li > a {
	padding: 5px 10px;
	font-size: 15px;
	background: #eee;
	color: #999;
	border: 1px solid #ddd;
	border-bottom: 0;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	background: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	border: 1px solid #ddd;
	background: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
}
/*---- FIM - Menu em abas ----*/

/*---- Menu dropdown ----*/
.dropdown-menu > li {
	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display: none;
    margin-top: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-color: #fff;
}
.right-caret:after,
.left-caret:after {
	content: "";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left: 5px;
}
.right-caret:after {
	border-left: 5px solid #333;
}
.left-caret:after {
	border-right: 5px solid #333;
}
/*---- FIM - Menu dropdown ----*/
/*---- Containers ----*/
/* Destaque */
.container .jumbotron {
	padding: 30px;
}
.jumbotron {
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0px 0px 2px 1px #ededed;
	border: 5px solid #fff;
	font-size: 17px;
}
.modal {
	font-size: 14px;
}
/* Slide */
#carousel-informes {
	height: 144px;
}
#carousel-informes .carousel-indicators {
	bottom: -80px;
}
#carousel-informes .carousel-indicators li {
	border-color: #bbb;
}
#carousel-informes .carousel-indicators li.active,
#carousel-informes .carousel-indicators li:hover {
	border-color: #97bf29;
}
/* Painel */
.panel {
	background-color: rgba(255, 255, 255, .8);
	margin-bottom: 20px;
	border: 1px solid transparent;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 5px 10px;
}
.panel-primary {
	border-color: #97bf29;
}
.panel-success {
	border-color: #47a447;
}
.panel-info {
	border-color: #39b3d7;
}
.panel-warning {
	border-color: #ed9c28;
}
.panel-danger {
	border-color: #d2322d;
}
.panel-primary > .panel-heading {
	color: #fff;
	background-color: #97bf29;
	border-color: #97bf29;
}
.panel-success > .panel-heading {
	color: #fff;
	background-color: #47a447;
	border-color: #47a447;
}
.panel-info > .panel-heading {
	color: #fff;
	background-color: #39b3d7;
	border-color: #39b3d7;
}
.panel-warning > .panel-heading {
	color: #fff;
	background-color: #ed9c28;
	border-color: #ed9c28;
}
.panel-danger > .panel-heading {
	color: #fff;
	background-color: #d2322d;
	border-color: #d2322d;
}
.panel .panel-title {
	margin: 0 0 5px 0;
	font-size: 19px;
	border-radius: 0;
}
.panel .panel-title h6 {
	margin: .5em 0;
}
.panel-body {
	padding: 15px;
}
/*---- FIM - Containers ----*/
/*---- Tab ----*/
.tab-content > .tab-pane {
	display: none;
}
.tab-content > .active {
	display: block;
}
/*---- FIM - Tab ----*/
/*---- Indicadores ----*/
span.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 11px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
.label-default {
	background-color: #999;
}
.label-primary {
	background-color: #97bf29;
}
.label-success {
	background-color: #5cb85c;
}
.label-info {
	background-color: #5bc0de;
}
.label-warning {
	background-color: #f0ad4e;
}
.label-danger {
	background-color: #d9534f;
}
/*---- FIM - Indicadores ----*/
/*---- Barra de progresso ----*/
.progress {
	height: 10px;
	border-radius: 0;
}
/*---- FIM - Barra de progresso ----*/
#pagina {
	min-height: 600px;
	padding-bottom: 20px;
}
/*---- Rodape ----*/
footer {
	bottom: 0;
    position: absolute;
    width: 100%;
    background-image:  url(../resources/img/fundo-rodape.png);
	padding: 40px 0;
	border-top: 40px solid #999;
}
footer .logo {
	margin-right: 10px;
}
footer .copyright {
	font-style: italic;
	font-size: 12px;
	color: #999;
	padding-bottom: 0;
}
/*---- FIM - Rodape ----*/

/*---- Informes ----*/
#informes h3 {
	margin-top: 0;
}
#informes h3.title-primary {
	color: #97bf29;
}
#informes h3.title-info {
	color: #5bc0de;
}
#informes .row {
	margin-bottom: 20px;
}
#informes img.img-primary {
	border: 1px solid #97bf29;
}
#informes img.img-success {
	border: 1px solid #47a447;
}
#informes img.img-info {
	border: 1px solid #39b3d7;
}
#informes img.img-warning {
	border: 1px solid #ed9c28;
}
#informes img.img-danger {
	border: 1px solid #d2322d;
}
/*---- FIM - Informes ----*/

/*---- Modulos ----*/
.modulo-info {
	color: #666;
	margin-bottom: 30px;
}
.modulo-info .titulo {
	height: 2em;
	overflow: hidden;
	margin: 0 0 10px 0;
}
.modulo-info .finalidade {
	height: 65px;
	overflow-y: auto;
	line-height: 1.1em;
	margin-right: -5px;
	padding-right: 5px;
}
/*---- FIM - Modulos ----*/

/*---- Mobile ----*/
@media (max-width: 992px) {
	#topo-ferramentas {
		text-align: center;
		position: relative;
	}
	footer {
		text-align: center;
	}
	#topo-logo {
		text-align: center;
		padding-bottom: 20px;
	}
	footer .copyright {
		float: none !important;
	}
}
/*---- FIM - Mobile ----*/