/******************************
** Name: default.css
** Autor: acorrea, cqsilva
** Date Created: 15/07/2014
*******************************/
@CHARSET "UTF-8";

/*FONT FACE*/    
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src:url('../resources/fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),   
      url('../resources/fonts/RobotoCondensed-Regular.woff') format('woff'), 
      url('../resources/fonts/RobotoCondensed-Regular.ttf')  format('truetype'), 
      url('../resources/fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


html, body {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: left;
	text-decoration: none;
	font-size: 11px;
	font-family: arial, sans-serif!important;
	height:100%;
	background-color: #FFFFFF;
	overflow: auto;
}

body, p, td, th, li {	
	line-height: 1.5em;
	color: #000;
}

td, th, li {
	font-size: 11px;
}

/*Classes Bootstrap*/
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container,
.row,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	box-sizing: border-box;
}
.col-md-4 {
	width: 33.3333%;
}
.col-md-8 {
	width: 66.6667%;
}

/*FONT - LEGENDA DO FIELDSET  , TABS  E MENUCOLUNA*/
input, select, textarea, button, keygen, isindex, legend, a {
    color: #000000;
    font-family: arial;
    font-size: 10px;
}
/*PADRONIZACAO AMPLA DE FONTS*/
.ui-widget {    
    font-size: 10px;
    /*demais estilos dessa classe estão em "aghu-primefaces.css*/ 
}
/*CONTROLE DE TAMANHO DE FONTS, DIVERSOS*/
legend > .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    font-size:10px;
    /*demais estilos dessa classe estão em "aghu-primefaces.css*/ 
}
.ui-autocomplete>.ui-widget {
	font-size: 10px;
	/*demais estilos dessa classe estão em "aghu-primefaces.css*/ 
}
/*texto principal do miolo do growl*/
.ui-growl-title {	
	font-size: 11px;	
	/*demais estilos dessa classe estão em "aghu-primefaces.css*/
}
.ui-button {  
    font-size:12px;
    /*demais estilos dessa classe estão em "aghu-primefaces.css*/
}
.aghu-suggestion-text {	
    /*demais estilos dessa classe estão em "aghu-components.css*/
}
/*FONTS DAS ABAS*/
.tabs-title {
    font-size: 11px!important;
}


label {
	font: 10px !important;
	padding: 0 2px;
	text-align: left;
	white-space: nowrap;
}

/*--- Link Styles ---*/
a:hover, a:active {
	text-decoration: none;
}

ul {
	margin-left: 25px;
	list-style-type: none;
}

ol {
	margin-left: 25px;
}


/* Standard Definitions
----------------------------------------*/
.left {
	float: left;
}

.right {
	float: right;
}

.clearThis {
	clear: both;
}

.small {
	font-size: .625em;
}

.large {
	font-size: 1em;
}

.soft {
	color: #D3D3D3;
}

.hide {
	display: none;
}

p.last {
	margin-bottom: 0px;
}

/*DESABILITADO CAMPO*/
textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
	background: none repeat scroll 0 0 #e5e5e5 !important;
	color: #555 !important;
}
textarea[readonly], input[type="text"][readonly], input[type="password"][readonly], select[readonly] {
	background: none repeat scroll 0 0 #fff;
	color: #222222 !important; 
}

textarea {
	z-index:100;
}

[disabled=disabled].txtVermelho, input[readonly=readonly].txtVermelho { 
	background-color: #FF816A !important; 
	border: 1px solid #CF503A !important; 
	color: #fff !important; 
	font-size: 12px !important; 
}