/******************************
** Name: layout.css
** Autor: acorrea, cqsilva, rafael.corvalao
** Date Created: 15/07/2014
** Date Updated: 04/02/2016
*******************************/
@CHARSET "UTF-8";

body {
	padding: 0px;
}

.aghu-linha {
	background: none repeat scroll 0 0;
	float: left;
	margin-bottom: 4px;
	position: relative;
	width: 100%;
	display: block;
}

.aghu-acao {
	background: none;
	border: none;
	padding: 3px 15px 15px;
	width: auto;
}

.aghu-panel-geral {
	width:100%;
}

.aghu-acao-lateral {
	background: none repeat scroll 0 0;
	float: left;
	border: none;
	position: relative;
	display: block;
	margin: 15px 0 0 10px !important
}


.aghu-column {
	background: none repeat scroll 0 0;
	float: left;
	margin: 2px 0;
	position: relative;
	display: block;	
}

.aghu-column-table {
	float:left;
	width:-moz-calc(100% - 240px);
	width:-webkit-calc(100% - 240px);
	width:-calc(100% - 240px);
	overflow: auto;
}	

.aghu-column-button {
	float:right;
	width:238px;
	padding:0!important;
	margin:0!important;
	border:0!important;
}	

/*REAJUSTE DE TELA NAS GRIDS ENTRE 1025px e 1300px larg*/
@media only screen and (min-width: 1025px) and (max-width: 1300px){
	.aghu-panel-geral {
		max-width: 1300px;
	}	
	.aghu-column-table{
		width: calc(100% - 210px);		
	}	
	.aghu-column-button {
		width: 208px;	
	}

}
/*REAJUSTE DE TELA NAS GRIDS AT� 1024px larg*/
@media only screen and (max-width: 1024px){
	 .aghu-panel-geral {
		max-width: 1024px;
		background: ;
	}	
	.aghu-column-table{
		width: calc(100% - 180px);
	}	
	.aghu-column-button {
		width: 178px;	
	}

}
/*ALINHAMENTO DE SPAN DENTRO DOS BTs LATERAIS DAS GRIDS*/
.aghu-column-button > .ui-button-text-icon-left .ui-button-text {
    padding: 0.3em 1em 0.3em 1em;
}

.alinha-direita{
	float: right !important;
	margin-right: 2px !important;
}

.alinha-esquerda{
	float: left !important;
}

.aghu-table {
	width:100%;
}


/*field*/
.aghu-boxinput {
	margin: 0 10px 0px 0;
	padding: 0px;
	text-align: left;
	white-space: nowrap;
	float: left;
	position: relative;
}

.aghu-lineinput {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: relative;
	width: 100%;
	float: none;
}

.aghu-linelabel {
	height: 19px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: relative;
	width: 100%;
	float: none;
}

.aghu-labelguia {
	float: left;
	margin: 0 0px 0 2px;
	position: relative;
}



.aghu-labelicones {
	float: right;
	margin: 0 0px 0 2px;
	position: relative;
}

.aghu-iconeinput {
	position: relative;
	float: left;
	margin: 0;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.aghu-interrog {
	background-image: url('../resources/img/components/interrog.png');
}

.aghu-interrog:hover {
	background-image: url('../resources/img/components/interrog.png');
	background-position: 0px -16px;
}

.aghu-asterisco {
	background-image: url('../resources/img/components/asterisco.png');
}

.aghu-asterisco:hover {
	background-image: url('../resources/img/components/asterisco.png');
	background-position: 0px -16px;
}

.aghu-lupa {
	background-image: url('../resources/img/components/lupa.png');
}

.aghu-lupa:hover {
	background-image: url('../resources/img/components/lupa.png');
	background-position: 0px -16px;
}


.aghu-ui-state-error {
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}


.aghu-ajax-process-panel {
	position: absolute; 
	z-index: 100; 
	top: 30%; 
	height: 45px; 
	padding: 25px 15px 0px; 
	box-shadow: 2px 2px 10px rgb(204, 204, 204);
	left: calc(50% - 85px);
	z-index: 100;
	background-color:white;
} 


/*icones dos botoes--------------------*/

.aghu-icons-16x16 {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16.png') !important;	
}
.aghu-icons-16x16-white {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16-white.png') !important;	
}
.aghu-icons-16x16-red {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16-red.png') !important;	
}
.aghu-icon-cancel {
	background-position: 0px 0px;	
}
.aghu-icon-back {
	background-position: -192px;	
}
.aghu-icon-cleaner-aghu {
	/*background-position: -16px 0px; original*/
	background-position: -240px 0px; /* adaptado */
}
.aghu-icon-circle-plus-aghu {
	background-position: -32px 0px;	
}

.aghu-icon-enlarge {
	background-position: -145px -47px;	
}

.aghu-icon-search-aghu {
	/*background-position: -48px 0px; original */
	background-position: 0 -16px; /* adaptado */	
}
.aghu-icon-check-aghu {
	background-position: -64px 0px;	
}
.aghu-icon-seek-next {
	background-position: -80px 0px;	
}
.aghu-icon-seek-prev {
	background-position: -96px 0px;	
}
.aghu-icon-seek-end {
	background-position: -112px 0px;	
}
.aghu-icon-seek-first {
	background-position: -128px 0px;	
}

.aghu-icon-print {
	background-position: -160px 0px;	
}

.aghu-icon-view {
	background-position: -176px 0px;	
}

.aghu-icon-back {
	background-position: -192px 0px;	
}

.aghu-icon-refresh {
	background-position: -208px 0px;	
}

.aghu-icon-copy {
	background-image:url('../resources/img/icons/page_copy.png') !important;
}

.aghu-icon-pencil {
	background-image:url('../resources/img/icons/pencil.png') !important;
}

.aghu-icon-lixeira {
	background-position: -224px 0px;	
}

/*PAGINAcaO iCONES*/

.aghu-server-datatable .ui-icon-seek-first {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16-white.png') !important;	
	background-position: -128px 0px;	
}	
.aghu-server-datatable .ui-icon-seek-next {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16-white.png') !important;	
	background-position: -80px 0px;	
}
.aghu-server-datatable .ui-icon-seek-prev {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16-white.png') !important;	
	background-position: -96px 0px;	
}
.aghu-server-datatable .ui-icon-seek-end {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16-white.png') !important;	
	background-position: -112px 0px;	
}


/*INTERNAR PACIENTE TRANSOPERATORIO*/

.aghu-panel-alert > .ui-panel .ui-panel-titlebar {   
    background: none repeat scroll 0 0 #ffc6c6;
    border-color: red;
    border-radius: 4px;
    margin: 2px;
    padding: 0.5em 1em 0.3em;
    text-align: center;
}


.aghu-panel-alert {
    border-color: red!important;
    padding: 0.2em;
    margin: 10px 10px;   
    color: #d90000!important;   
    font-size: 0.9em;
    text-align:center;
}

/* Destaque utilizado em uma c�lula da grid para o programa Enfermagem / Controle Paciente / Visualizar Controles */
.scrollTable_selected {
	background-color: #CEEBAB !important;
	margin: 0 !important;
	padding: 0 !important;
}

.scrollTable_selected_vivid_green {
	background-color: #39e821 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.scrollTable_selected_sky_blue {
	background-color: #87CEFA !important;
	margin: 0 !important;
	padding: 0 !important;
}

.scrollTable_selected_red {
	font-weight: bold !important;
	background-color: #F2979C !important;
	margin: 0 !important;
	padding: 0 !important;
}

.auto-adjust {
	white-space: nowrap !important;
}

.aghu-messages {
    min-width: 500px;
    max-height: 256px;
    overflow: auto;
}

.ui-dialog-maximized .aghu-messages {
    max-height: none;
}

.aghu-messages li {
    line-height: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 2px 0;    
}
/* Botoes de acao da tabela */
#tabelaAcao {
	border: 1px solid #336a20;
	border-radius: 5px;
	padding: 10px 7px 5px 10px;
	width: 150px;
	display: block;
}
#tabelaAcao button {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
/* FIM - Botoes de acao da tabela */
