/*SUGGESTIONBOX (a composição da suggestion ficou divida, as classes criadas do AGHU estão no arquivo aghu-componentes.css)********************/
/*Substituição de icone do botão dropdown dentro do componente autocomplete*/
.ui-autocomplete-dropdown>span.ui-icon-triangle-1-s {
	background-image: url('../resources/img/components/ui-icons-aghu-16x16.png') !important;
	background-position: -48px 0px !important;
}

.ui-autocomplete-panel {
	max-height:282px;
}

.ui-autocomplete>input.ui-state-disabled {
	opacity: inherit;
}

.ui-autocomplete-dropdown {
	width: 1.6em;
}

.ui-inputfield:hover{
	box-shadow: 0 2px 2px #8f8f8f inset;	
}

/*posicao do button de busca*/
.ui-autocomplete>.ui-button {   
    margin:0!important;    
}

.ui-autocomplete>button.ui-corner-right {
	border-bottom-left-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

.ui-autocomplete>.ui-widget {	
	margin: 0;
	/*os tamanhos de fonte dessa classe estao em "aghu-default.css"*/
}

/* reposicionamento do input dropdown */
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {	
	float: left !important;
}

.ui-widget-content {
	margin: 2px 0 0 0;
}

fieldset.ui-widget-content {
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}	

/* SuggestionBox: reposicionamento do botao de icone dropdown*/
.ui-autocomplete .ui-autocomplete-dropdown {
    display: block ;
    float: left ;
    height: 26px !important;
    position: relative !important;
    width: 29px !important;
}

/* tabela do suggestion */
/*borda*/
.ui-autocomplete-panel .ui-autocomplete-table th, .ui-autocomplete-panel .ui-autocomplete-table td {
    border-color: #DCDACE!important;   
}
/*sombra do texto*/
.ui-autocomplete-items >.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {   
    text-shadow: none!important;
}

.ui-autocomplete-table td {
    color:#000;
}

/* SUGGESTION BOX TEXTO DAS LINHAS (AGORA S BOLD) */
.ui-autocomplete-table td:hover {
    color:#000;      
    cursor:pointer;
}
/*SUGGESTIONBOX - FIM ************/

.ui-selectonemenu {
	line-height: 0.5em !important;
}

/*Select One Menu */
.ui-selectonemenu {   
    cursor: pointer!important;
    display: inline-block!important;
    position: relative!important;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	display: initial;
	border: none;
	margin: 0px 30px 0px -4px !important;
}
.xui-selectonemenu label.ui-selectonemenu-label {
    background: none repeat scroll 0 0 transparent;
    border: none !important;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 30px 0 0!important;
}

.ui-tooltip {
    width:200px!important;
    z-index:2000!important;
}