@media only screen {
	.ui-column-title {
		font-size: 1.6em !important;
		font-weight: bold;
	}
	th {
		font-size: 1.2em !important;
		font-weight: bold;
	}
	body, td, div, span {
    	font-size: 1.0em !important;
	}
	fieldset legend {
	    font-size: 2.3em !important;
	}
	body, p, td, th, li {
	    line-height: 2.5em;
	    font-size: 1.2em !important;
	}	
	td {/*TAMANHO DE FONTE DA LISTAGEM DE PACIENTES*/	   
	    font-size: 2.2em !important;
	}	   
}

}

@media only tv {
	.ui-column-title {
		font-size: 1.4em !important;
		font-weight: bold;
	}
	th {
		font-size: 1.6em !important;
		font-weight: bold;
	}
	body, td, div, span {
    	font-size: 1.0em !important;
	}
	fieldset legend {
	    font-size: 2.3em !important;
	}
	body, p, td, th, li {
	    line-height: 2.5em;
	    font-size: 1.2em !important;
	}	
	td {/*TAMANHO DE FONTE DA LISTAGEM DE PACIENTES*/		   
	    font-size: 2.2em !important;
	} 
	/*CABECALHO DA LISTAGEM DOS PACIENTES - MONITOR - BLOCO CIRURGICO (DIMINUICAO DA INTENSIDADE DE COR)*/
	.ui-datatable-resizable th.ui-resizable-column {
	opacity:0.3;
	border-color:white!important;    
}
	
}